.cardapio {
  color: white;
}

.cardapio h2 {
  margin: 30px 0 20px;
  text-align: center;
}

.item {
  display: flex;
  gap: 20px;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.item img {
  width: 140px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.info h3 {
  margin-bottom: 5px;
  color: #ff4f4f;
}

.info p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ccc;
}

.info span {
  font-weight: bold;
  color: white;
}

@media (max-width: 600px) {
  .item {
    flex-direction: column;
    text-align: center;
  }

  .item img {
    width: 100%;
    height: auto;
  }
}
